# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Django database
*.sqlite3
db.sqlite3

# Logs
*.log

# Environment variables file
.env

# Virtual environments
venv/
.env/

# Static & media files (when collected or uploaded)
staticfiles/
media/

# Editor directories and files
.vscode/
.DS_Store

# Docker
docker-compose.override.yml

# Others
*.bak


